*.lo
*~
.deps
.libs
INSTALL
Makefile
Makefile
Makefile.in
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
configure.ac
depcomp
install-sh
intltool-*
libtool
ltmain.sh
m4
missing
po/*.gmo
po/Makefile.in.in
po/POTFILES
stamp-*
panel-plugin/libweather.la
panel-plugin/weather-config_ui.h
panel-plugin/weather.desktop
po/.intltool-merge-cache
