*~
*.la
*.lo
*.gmo
*.tar.bz2
.deps
.libs
.vscode
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.*
configure
configure.ac
depcomp
install-sh
intltool-*
libtool
ltmain.sh
m4
missing
panel-plugin/weather-config_ui.h
panel-plugin/weather.desktop
po/.intltool-merge-cache*
po/Makefile.in.in
po/POTFILES
stamp-*
